<form id="form" action="{% url 'results' %}"> {% csrf_token %}
    <div class="row inline-block next-container">
        <div class="card card-graph">
            <div class="card-body">
                <h5 class="card-title t">{{ graph_title }}</h5>
                <div class="inline-block">
                    <img style="width: 100%" src={{ path_to_img }}>
                </div>
            </div>
        </div>
    </div>
    <div class="row inline-block next-container">
        <div class="card table-card">
            <div class="card-body">
                <h5 class="card-title t">{{ table_title }}</h5>
                {% for i in data %}
                    {% cycle '<div class="inline-block custom-table-container"><table class="custom-table" border="1" cellpadding="5">' '' %}
                            <tr>
                                <th>{% cycle 'Тестовое<br>множество' 'Спрогнозированное<br>множество' %}</th>
                                {% for value in i %}
                                    <td>{{ value|cut:"["|cut:"]" }}</td>
                                {% endfor %}
                            </tr>
                    {% cycle '' '</table></div>' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row inline-block next-container footer-container">
        <div class="card left-mini-card">
            <div class="card-body">
                <h5 class="card-title t">RMSE</h5>
                <div class="inline-block">
                    <h5 class="card-title errors-text">{{ rmse }}</h5>
                </div>
            </div>
        </div>
        <div class="card mini-card">
            <div class="card-body">
                <h5 class="card-title t">MAPE</h5>
                <div class="inline-block">
                    <h5 class="card-title errors-text   ">{{ mape }}%</h5>
                </div>
            </div>
        </div>
    </div>

</form>
