html, body{
    background: url('background1.jpeg') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*no-repeat center center fixed;*/
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.t {
    font-size: 200%;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 15px;

}

.row {
    text-align: center;
}

.inline-block {
    /*display: inline-block;*/
    /*margin-left: 40%;*/
}

.custom-badge {
    margin: 10px;
    font-size: 140%;
    display: inline-block;
    opacity: 1.0;
    width: 100%;
}

.custom-dropdown-btn {
    font-size: 100%;
    opacity: 1.0;
    margin-left: 10%;
    width: 100%;
    border-color: #193ec0cc;
}

.custom-button {
    font-size: 150%;
    /*margin-left: 30%;*/
    margin-top: 20px;
    opacity: 1.0;
}

.top-container{
    padding-top: 15%;
}

.general-container{


}

.card-container {
    margin-left: 34%;
    opacity: 0.95;
    border-radius: 40px;
}

.card-graph {
    margin-left: 12%;
    opacity: 0.95;
    border-radius: 40px;
    width: 76.5%;
    height: auto;
}

.next-container {
    padding-top: 2%;
}

.load-container {
    margin-left: 65px;
    margin-top: 60px;
}

.load-card {
    position:absolute;
    z-index:500;
    display:none;
    width: 300px;
    height: 200px;
}

.loader-title {
    font-size: 100%;
    text-align: center;
}

.table-card {
    margin-left: 12%;
    opacity: 0.95;
    border-radius: 40px;
    width: 76.5%;
    height: auto;
}

.custom-table {
    margin: auto;
    width: auto;
    border: 2px solid rgb(0, 0, 0);
}

.custom-table-container {
    padding-bottom: 1%;
}

.left-mini-card {
    margin-left: 12%;
    opacity: 0.95;
    border-radius: 40px;
    width: 36%;
    height: 300px;
}

.mini-card {
    margin-left: 5%;
    opacity: 0.95;
    border-radius: 40px;
    width: 36%;
    height: 300px;
}

.footer-container {
    padding-bottom: 2%;
}

.errors-text {
    text-align: center;
    font-size: 500%;
}
