{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {#    Bootstrap#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js.js' %}"></script>
</head>
<body>
<div class="general-container" id="general">
    <form id="form" action="{% url 'results' %}"> {% csrf_token %}
        <div class="row inline-block top-container">
            <div class="card card-container" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title t">Задание параметров прогноза</h5>

                    <div class="inline-block" align="center">
                        <table>
                            <tr>
                                <td> <span class="badge badge-primary custom-badge">Станция метро:</span></td>
                                <td><button class="btn btn-default dropdown-toggle custom-dropdown-btn" type="button"
                                id="dropdown-station"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            Станция метро
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-station">
                            <li><a href="#" id="st1"
                                   onclick="clickDropDownItem('#st1', '#dropdown-station')">Bangoge</a>
                            </li>
                            <li><a href="#" id="st2"
                                   onclick="clickDropDownItem('#st2', '#dropdown-station')">Banwoldang</a>
                            </li>
                            <li><a href="#" id="st3"
                                   onclick="clickDropDownItem('#st3', '#dropdown-station')">Chil-sung-market</a>
                            </li>
                            <li><a href="#" id="st4" onclick="clickDropDownItem('#st4', '#dropdown-station')">Daegu</a>
                            </li>
                            <li><a href="#" id="st5"
                                   onclick="clickDropDownItem('#st5', '#dropdown-station')">Kyungbuk_uni_hospital</a>
                            </li>
                            <li><a href="#" id="st6"
                                   onclick="clickDropDownItem('#st6', '#dropdown-station')">Myung-duk</a>
                            </li>
                            <li><a href="#" id="st7"
                                   onclick="clickDropDownItem('#st7', '#dropdown-station')">Sin-nam</a>
                            </li>
                        </ul></td>
                            </tr>
                            <tr>
                                <td><span class="badge badge-primary custom-badge">Время до метро:</span></td>
                                <td><button class="btn btn-default dropdown-toggle custom-dropdown-btn" type="button"
                                id="dropdown-time-subway"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            Время до метро
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-time-subway">
                            <li><a href="#" id="ts1" onclick="clickDropDownItem('#ts1',
                            '#dropdown-time-subway')">0-5 min</a>
                            </li>
                            <li><a href="#" id="ts2" onclick="clickDropDownItem('#ts2',
                            '#dropdown-time-subway')">5-10 min</a>
                            </li>
                            <li><a href="#" id="ts3" onclick="clickDropDownItem('#ts3',
                                   '#dropdown-time-subway')">10-15 min</a></li>
                            <li><a href="#" id="ts4" onclick="clickDropDownItem('#ts4',
                            '#dropdown-time-subway')">15-20 min</a>
                            </li>
                        </ul></td>
                            </tr>
                             <tr>
                                <td><span class="badge badge-primary custom-badge">Время до останоки:</span></td>
                                <td><button class="btn btn-default dropdown-toggle custom-dropdown-btn" type="button"
                                id="dropdown-time-busstop"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            Время до остановки
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-time-busstop">
                            <li><a href="#" id="tb1" onclick="clickDropDownItem('#tb1',
                            '#dropdown-time-busstop')">0-5 min</a>
                            </li>
                            <li><a href="#" id="tb2" onclick="clickDropDownItem('#tb2',
                            '#dropdown-time-busstop')">5-10 min</a>
                            </li>
                            <li><a href="#" id="tb3" onclick="clickDropDownItem('#tb3',
                            '#dropdown-time-busstop')">10-15 min</a></li>
                            <li><a href="#" id="tb4" onclick="clickDropDownItem('#tb4',
                            '#dropdown-time-busstop')">15-20 min</a>
                            </li>
                        </ul></td>
                            </tr>
                             <tr>
                                <td><span class="badge badge-primary custom-badge">Площадь:</span></td>
                                <td> <input type="number"
                                            class="custom-dropdown-btn" id="squre" placeholder="Площадь в кв.м."></td>
                            </tr>
                        </table>
                    </div>

                    <div class="inline-block">
                        <button type="button" id="predict-btn" class="btn btn-primary custom-button"
                                onclick="getData()">Выполнить прогноз
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="card load-card" id="loader-card">
    <div class="card-body">
        <h5 class="card-title loader-title">Обучение модели</h5>
        <div class="load-container">
            <img id="loader" src="../static/loader.gif" />
        </div>
    </div>
</div>
</body>
</html>